

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(9px + 2vmin);
  color: black;
  padding: 2em;
  font-family: 'Zilla Slab Highlight', sans-serif;
}

.App-bodytext {
  font-size: calc(5px + 2vmin);
  padding: 1em;
}

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');
@import url('https://fonts.googleapis.com/css?family=Dosis');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css?family=PT+Sans');


